pan-plagiarism-corpus-2011*
detections*
dataset*
__pycache__
.ipynb_checkpoints
.cache
test.txt
train_SBERT.py
method*.py
my_method.py
negative_words.txt
positive_words.txt
note.md
paper
*.pkl
*.png
.DS_Store
external_detection.py